<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516238426541-nbp8e83bhqljroda9m6s54ctcskhluh4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516238426541-nbp8e83bhqljroda9m6s54ctcskhluh4</string>
	<key>API_KEY</key>
	<string>AIzaSyC28Gg9usG8n9CDrem-YM8pZKl1ZTQI9I0</string>
	<key>GCM_SENDER_ID</key>
	<string>516238426541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.-AppTNow.com.AppTNow</string>
	<key>PROJECT_ID</key>
	<string>apptnow-355a6</string>
	<key>STORAGE_BUCKET</key>
	<string>apptnow-355a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516238426541:ios:854b3c4c851357ea452124</string>
</dict>
</plist>